
@{
    ViewBag.Title = "Encode";
}

@if (ViewData["ArgumentException"] != null)
{
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            x
        </button>
        @ViewData["ArgumentException"]
    </div>
}

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            x
        </button>
        Упс, что-то пошло не так... @ViewData["Error"]
    </div>
}

<form action="~/Home/Encode" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p class="lead">Введите текст</p>
                <textarea class="form-control" id="ControlTextareaInputText" name="toEncode" value="" wrap="soft" rows="6">@ViewData["UploadedText"]</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <select class="form-control pull-right" name="selection" id="ControlSelectAlgorithm">
                    <option>Хаффман</option>
                    <option>Арифметическое</option>
                    <option>LZ78</option>
                    <option>BW</option>
                    <option>RLE</option>
                </select>
                <small class="form-text text-muted">Пожалуйста, выберите алгоритм.</small>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="number" class="form-control" name="basis" value="2" min="2" max="10" step="1">
                <small class="form-text text-muted">Для Хаффмана выберите основание.</small>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success pull-right">Закодировать</button>
        </div>
    </div>
</form>
<div class="form-group">
    @using (Html.BeginForm("UploadedText", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class=" col-md-4">
                <input type="file" name="fileUpload" accept="text/*" /><br />
            </div>
            <div class="col-md-2">
                <button class="btn pull-right">Загрузить</button>
            </div>
        </div>

    }
</div>
<form action="~/Home/GetFile" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p class="lead">Результат кодирования</p>
                <textarea class="form-control" id="ControlTextareaOutputText" name="result" wrap="soft" rows="6" readonly>@ViewData["Encoded"]</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <textarea class="form-control" wrap="soft" rows="1" >@ViewData["CompressionDegree"]</textarea>
                <small id="help" class="form-text text-muted">Степень сжатия</small>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn pull-right">Скачать</button>
        </div>
    </div>
</form>

