
@{
    ViewBag.Title = "LZ78";
}

@if (ViewData["ArgumentException"] != null)
{
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            x
        </button>
        @ViewData["ArgumentException"] @*Пожалуйста, проверьте соответствие введенных данных нужному формату.*@
    </div>
}

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            x
        </button>
        Упс, что-то пошло не так... @ViewData["Error"]
    </div>
}

<h2>@ViewBag.Title</h2>
<form action="~/Home/LZ78Decode" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <textarea class="form-control" name="toDecode" value="" wrap="soft" rows="6" placeholder="Ввести код">@ViewData["UploadedText"]</textarea>
                <small id="help" class="form-text text-muted">Пожалуйста, введите код в виде: (0,м)(0,а)(1,а)(0, )(1,ы)(0,л)(2, )(0,р)(2,м)(0,у)(0,$)</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6">
            <button class="btn btn-success pull-right" style="margin-bottom:3%">Декодировать</button>
        </div>
    </div>
</form>
<div class="form-group">
    @using (Html.BeginForm("UploadedTextLZ78Decode", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class=" col-md-4">
                <input type="file" name="fileUpload" accept="text/*" /><br />
            </div>
            <div class="col-md-2">
                <button class="btn pull-right">Загрузить</button>
            </div>
        </div>
    }
    <small id="help" class="form-text text-muted">
        Пожалуйста, загружайте файл в кодировке Unicode.
    </small>
</div>
<form action="~/Home/GetFile" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p class="lead">Результат</p>
                <textarea class="form-control" name="result" value="" wrap="soft" rows="6" readonly>@ViewData["Decoded"]</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn pull-left">Скачать</button>
        </div>
    </div>
</form>


